        </div>
        <footer id="footer">
            <div class="container">
                <p class="text-muted pull-right"><small>Generated with <a href="http://git.framasoft.org/HgO/Oook">Oook</a></small></p> 
            </div>
        </footer>
    </body>
</html>