<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="{{root}}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="{{root}}bower_components/bootstrap-grid-ms/dist/bootstrap-grid-ms.min.css" rel="stylesheet" />
        <link href="{{root}}css/style.css" rel="stylesheet" />
        
        <link rel="related" href="{{root}}index.xml" type="application/atom+xml;profile=opds-catalog" title="OPDS index">
        <link rel="search" href="{{root}}search/opensearch.xml" type="application/opensearchdescription+xml" title="Rechercher"> 
        <script src="{{root}}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{root}}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{root}}"><span class="glyphicon glyphicon-home"></span></a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="menu">
                        <ul class="nav navbar-nav">
                            <li class="{{author}}"><a href="{{root}}author/"><span class="glyphicon glyphicon-user"></span> Auteurs</a></li>
                            <li class="{{book}}"><a href="{{root}}book/"><span class="glyphicon glyphicon-book"></span> Livres</a></li>
                            <li class="{{publisher}}"><a href="{{root}}publisher/"><span class="glyphicon glyphicon-bullhorn"></span> Éditeurs</a></li>
                            <li class="{{series}}"><a href="{{root}}series/"><span class="glyphicon glyphicon-folder-open"></span> Séries</a></li>
                            <li class="{{tag}}"><a href="{{root}}tag/"><span class="glyphicon glyphicon-tags"></span> Tags</a></li>
                            <li class="{{search}}"><a href="{{root}}search/"><span class="glyphicon glyphicon-search"></span> Recherche</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="container">
            {{search-module}}
