<div id="{{id}}" class="icon col-xs-12 col-ms-6 col-sm-4 col-md-3">
    <a href="{{url}}" title="{{title}}" class="thumbnail media">
        <div class="media-left relative">
            <img src="{{image}}" class="img-responsive media-object" />
            <span class="badge corner">{{count}}</span>
        </div>
        <div class="media-body media-middle">{{title}} </div>
    </a>
</div>