<form role="search" action="{{root}}search/" method="GET"
title='Astuce: Utilisez les termes "+" et "-" devant un mot pour affiner votre recherche. 
Vous pouvez également rechercher une phrase en utilisant des guillemets. 

Par exemple, la requête « +banane +ook -"eek oook" » renverra tous les résultats ne contenant pas la phrase "eek oook" et contenant obligatoirement les mots "ook" et "banane".'>
    <div class="input-group">
        <input type="text" name="q" value="{{query}}" class="form-control" placeholder="Rechercher">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>