html {
    min-width: 230px;
    min-height: 100%;
    position: relative;
}

body {
    padding-top: 60px;
    margin-bottom: 40px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

.container .text-muted {
  margin: 10px 0;
}

.navbar {
    opacity: .95;
}

.relative {
    position: relative;
}

.cover .thumbnail img {
    height: 144px;
    width: 100px;
}

.icon .thumbnail img {
    height: 48px;
    min-width: 48px;
    margin: 10px 0;
}

.icon a.thumbnail {
    height: 78px;
    overflow: hidden;
    word-wrap: break-word;
}

a.thumbnail:hover {
    text-decoration: none;
}

.cover {
    padding: 0 15px;
}

.corner {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

.pagination li.first,
.pagination li.last {
    display: none;
}

.pagination li.next a {
    border-radius: 0 4px 4px 0;
}

.pagination li.prev a {
    border-radius: 4px 0 0 4px;
}

@media (max-width: 450px) {
    .cover {
        padding: 0 10px;
    }
    .pagination li {
        display:none;
    }
    
    .pagination li.next a {
        border-radius: 0;
    }

    .pagination li.prev a {
        border-radius: 0;
    }
    
    .pagination li.active,
    .pagination li.prev,
    .pagination li.next,
    .pagination li.first,
    .pagination li.last {
        display: inline-block;
    }
}
